body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#previewCont{
  border: solid black 5px;
}
.preview{
    display: inline-block;
    margin:9px;
    border: solid 4px black;

}
#dvPreview755
{
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=image);
    height: 755px;
    width: 450px;
    display: none;
}

#dvPreview365
{
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=image);
    height: 365px;
    width: 450px;
    display: none;
}

#dvPreview212
{
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=image);
    height: 365px;
    width: 212px;
    display: none;
}

#dvPreview380
{
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=image);
    height: 380px;
    width: 380px;
    display: none;
}
